---
title: Projects
---

.black
    %p.header - projects
    .white
= partial 'partials/projects'
               
.projects
    - data.projects.each do |project|
        .project_box
            %h4.project_name= project[:name]
            %p= project[:description]
            %button= project[:link]
