---
title: Portfolio - Hanna Linnéa Nyman
---

.home
    .top.top_one
        .top_two
    .middle
        %p portfolio
        %hr
        %p#name hanna linnéa nyman
    .bottom
        .bottom_one
        .bottom_two

= partial 'partials/about'