#message
    %p send me a message!
    .contact-form#contact_form
        .form.open-form#form
            %form{netlify: "#", name: "contact form"}
                %p.label Your Message
                %input{type: "textarea", rows: "3", columns: "15", placeholder: "Your Message Here", name: "message"}
                %p.label Your Email
                %input{type: "email", placeholder: "Your Email Here", autocomplete: "on", name: "email"}
                %p.buttons
                    %button#submit-form-button{type: "submit"} Submit
                    %button Close