#nav
    %p menu
    #hamburger
        %div.line#line_one
        %div.line#line_two
        %div.line#line_three
    
#menu
    %ul
        %li#li-one
            .li_box
                %p.item home
        %li#li-two
            .li_box
                %p.item about me
        %li#li-three
            .li_box
                %p.item projects
        %li#li-four
            .li_box
                %p.item contact
        %li#li-five
            .li_box
                %p.item CV
        %li#li-six
            .li_box
                %p.item exit menu