-# %link{:rel => :stylesheet, :type => :"text/css", :href => "nav"}

#nav
    .nav_icon
        .line
        .line

#menu
    %ul
        %li#li-one
            .li_box
                %p.item — home
        %li#li-two
            .li_box
                %p.item — about me
        %li#li-three
            .li_box
                %p.item — projects
        %li#li-four
            .li_box
                %p.item — contact
        %li#li-five
            .li_box
                %p.item — exit menu