$lightblue: #eef7fa;
$lightpink: #fffbfb;

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

* {
  box-sizing: border-box;
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
}

nav {
  background: white;
  // add effect so it becomes more transparent as you scroll down
  font-weight: 300;
  height: 5rem;
  position: fixed;
  text-transform: uppercase;
  width: 100vw;

  h1 {
    float: left;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 5rem;
    padding-left: 20px;
  }

  div {
    // move this div to the bottom of the screen to make it responsive
    align-items: center;
    cursor: pointer;
    display: flex;
    float: right;
    font-size: 25px;
    height: 5rem;
    justify-content: center;
    width: 200px;

    p {
      padding-right: 10px;
    }

    img {
      width: 30px;
    }
  }
}

#menu {
  display: none;
  height: 100vh;
  position: absolute;
  width: 100vw;

  ul {
    list-style-type: none;

    li {
      cursor: pointer;
      font-size: 25px;
      font-weight: 300;
      letter-spacing: 5px;
      line-height: 25vh;
      opacity: 0;
      text-align: center;
      text-transform: uppercase;
      transition: opacity .5s;
    }

    #li-one {
      background-color: rgba(255, 252, 252, .9);
    }

    #li-two {
      background-color: rgba(248, 252, 252, .9);
    }

    #li-three {
      background-color: rgba(255, 252, 252, .9);
    }

    #li-four {
      background-color: rgba(251, 252, 252, .9);
    }
  }
}