$lightblue: #eef7fa;

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

* {
  box-sizing: border-box;
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}

body {
  background-color: $lightblue;
  font-size: 10px;
}

nav {
  background: white;
  // add effect so it becomes more transparent as you scroll down
  font-weight: 300;
  height: 5rem;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  width: 100vw;

  h1 {
    float: left;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 5rem;
    padding-left: 20px;
  }

  div {
    align-items: center;
    cursor: pointer;
    display: flex;
    float: right;
    font-size: 25px;
    height: 5rem;
    justify-content: center;
    width: 200px;

    p {
      padding-right: 10px;
    }

    img {
      width: 30px;
    }
  }
}


