#nav
    %h1 Hanna Linnéa Nyman
    #menu_btn
        %p menu
        %img(src="../images/hamburger.png")
    
#menu
    %ul
        %li#li-one home
        %li#li-two about me
        %li#li-three projects
        %li#li-four contact