#nav
    %p menu
    #hamburger
        %div.line#line_one
        %div.line#line_two
        %div.line#line_three
    
#menu
    %ul
        %li#li-one - home
        %li#li-two - about me
        %li#li-three - projects
        %li#li-four - contact
        %li#li-five X