---
title: About Me
---

.home
    .top.top_one
        .top_two
    .middle
        .middle_text_box
            %p about me
            %hr
            %p.p_down scroll down
    .bottom
        .bottom_one
        .bottom_two#violet

#about_me_header - Student at Craft Academy
.about_content
    %p.about_question How did I end up at a programming bootcamp?
    %p.about_me_paragraph In august I enrolled in a programming bootcamp in Stockholm called Craft Academy. I have been interested in programming since one of my friends introduced me to it in spring 2018.
    %hr
    %p.about_me_paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, molestias rem necessitatibus velit doloremque non quae, cumque deserunt tempora inventore architecto, voluptatum nemo facere magnam vel quis officiis perspiciatis saepe. Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aut, iste impedit optio eveniet magnam iure culpa consectetur neque doloremque est vel voluptas dolor, non sit maiores sunt tenetur ratione!
    %hr
    %p.about_me_paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, eaque quas eum sapiente magni architecto tenetur voluptatem aliquid officiis dolores, provident ducimus saepe iure molestias dolor et repellat reiciendis minus!