---
title: About Me
---

.home
    .top.top_one
        .top_two
    .middle
        .middle_text_box
            %p about me
            %hr
            %p.p_down scroll down
    .bottom
        .bottom_one
        .bottom_two

#about_me_header - Student at Craft Academy
.blank
    %p.about_me_paragraph In august I enrolled in a programming bootcamp in Stockholm called 'Craft Academy'.