---
title: Contact Me
---

.home
    .top.top_one
        .top_two
    .middle.no_padding
        %p.contact phone: 0739231591
        %p.contact email: hannanyman.sk@gmail.com
        %button#btn_message send me a message!
    .bottom
        .bottom_one
        .bottom_two
// this will show up when user clicks on send message button
#message
    .contact-form#contact_form
        .form.open-form#form
            %form{method: "POST", name: "contact", netlify: ""}
                %p
                    %label
                    Your Name:
                    %input{name: "name", type: "text"}/
                %p
                    %label
                    Your Email:
                    %input{name: "email", type: "email"}/
                %p
                    %label
                    Message:
                    %textarea{name: "message"}
                %p
                    %button{type: "submit"} Send