---
title: Portfolio - Hanna Linnéa Nyman
---

.home
    .left
        .left_bottom
            
            %p hanna linnéa nyman
            %p fullstack web developer

    .right
        .right_box
            %button projects
        .right_box
            %button social media
        