---
title: Projects
---

.projects
    - data.projects.each do |project|
        - if project[:id] % 2 == 0
            %p.project_link= project[:name]
        - elsif project[:id] % 2 != 0
            %p.project_link= project[:name]