---
title: Projects
---

.home
    .top.top_one
        .top_two
    .middle
        .middle_text_box
            %p projects
            %hr
            %p.p_down scroll down
    .bottom
        .bottom_one
        .bottom_two#pastelred

// = partial 'partials/projects'

.projects
    - data.projects.each do |project|
        .project_box
            .project_info
                %h4.project_name= project[:name]
                %p.project_description= project[:description]
                %p techniques used:
                %p.project_techniques= project[:techniques]
            .project_link
                %a{:href => project[:link], :target => '_blank'}
                    %button go to project

