---
title: Projects
---

.home
    .top.top_one
        .top_two
    .middle
        .middle_text_box
            %p projects
            %hr
            %p.p_down scroll down
    .bottom
        .bottom_one
        .bottom_two#pastelred

.projects
    - data.projects.each do |project|
        - if project[:id] % 2 == 0
            .project_box
                .project_box_left.lightpink
                .project_box_right
        - elsif project[:id] % 2 != 0
            .project_box
                .project_box_right
                .project_box_left.lightblue